<?xml version="1.0"?>
<model>
  <name>YDLidar X4</name>
  <version>1.0</version>
  <sdf version="1.7">ydlidar_x4.sdf</sdf>
  <author>
    <name>Katrin Moritz</name>
    <email>katrin.moritz@nxp.com</email>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A model of the YDLidar X4 Lidar sensor.</description>
</model>
