<?xml version="1.0"?>
<model>
  <name>NXP Cup Car HQ</name>
  <version>1.0</version>
  <sdf version="1.5">nxp_cupcar_hq.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A high quality model of the NXP Cup Car.</description>
</model>
