<?xml version="1.0"?>
{%- set model_name = "pixy2_cmucam5" if params.model_name is not defined else params.model_name -%}
{%- set sdf_version = "1.7" if sdf_version == "NotSet" else sdf_version %}
<model>
  <name>{{ model_name }}</name>
  <version>1.0</version>
  <sdf version='{{ sdf_version }}'>{{ model_name }}.sdf</sdf>

  <author>
   <name>Benjamin Perseghetti</name>
   <email>bperseghetti@rudislabs.com</email>
  </author>

  <description>Gazebo model of Pixy2 CMUCam5.</description>

</model>