<?xml version='1.0' ?>
{%- set model_name = 'pixy2_cmucam5' if params.model_name is not defined else params.model_name -%}
{%- set width = 196 if params.width is not defined else params.width -%}
{%- set height = 117 if params.height is not defined else params.height -%}
{%- set near = 0.1 if params.near is not defined else params.near -%}
{%- set far = 300 if params.far is not defined else params.far -%}
{%- set update_rate = 15 if params.update_rate is not defined else params.update_rate -%}
{%- set namespace = "" if namespace == "NotSet" else namespace -%}
{%- set sdf_version = "1.7" if sdf_version == "NotSet" else sdf_version %}
<sdf version='{{ sdf_version }}'>
  <model name='{{ model_name }}'>
    <pose>0 0 .05 0 0 0</pose>
    <static>false</static>
    <link name="{{ model_name }}_link">
      <visual name="{{ model_name }}_visual">
        <pose>0 0 0 1.57079632679 0 1.57079632679</pose>
        <geometry>
          <mesh>
            <uri>model://pixy2_cmucam5/meshes/Pixy2CMUcam5.obj</uri>
            <scale>.001 .001 .001</scale>
          </mesh>
        </geometry>
      </visual>
      <!--Image sensor: Aptina MT9M114-->
      <sensor name="{{ model_name }}" type="camera">
        <always_on>1</always_on>
        <update_rate>{{ update_rate }}</update_rate>
        <camera name="{{ model_name }}">
          <horizontal_fov>1.5</horizontal_fov>
          <image>
            <width>{{ width }}</width><!--1296 when not 8x reduced-->
            <height>{{ height }}</height><!--936 when not 8x reduced-->
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>{{ near }}</near>
            <far>{{ far }}</far>
          </clip>
          <lens>
            <type>gnomonical</type>
            <scale_to_hfov>1</scale_to_hfov>
          </lens>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name='{{ model_name }}_controller' filename='libgazebo_ros_camera.so'>
          <robotNamespace>{{ namespace }}</robotNamespace>
          <cameraName>{{ model_name }}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>{{ model_name }}_frame</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </link>
  </model>
</sdf>
