<?xml version="1.0"?>
<model>
  <name>realsense_d455</name>
  <version>1.0</version>
  <sdf version="1.7">realsense_d455.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Gazebo model of Realsense D455.</description>
</model>
