<?xml version="1.0"?>
<launch>
  <!-- vehicle model and world -->
  <arg name="rover" default="true"/>
  <arg name="vision" default="true"/>
  <arg name="vehicle" default="nxp_cupcar"/>
  <arg name="est" default="ekf2"/>
  <arg name="vision_debug" default="true"/>
  <arg name="rwh" default="0.4,0.5"/>
  <arg name="world" default="nxp_raceway"/>
  <arg name="pyr_down" default="1"/>
  <arg name="output" default="log" />

  <!-- gazebo configs -->
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="paused" default="false"/>
  <!-- Gazebo sim -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(find nxp_gazebo)/worlds/$(arg world).world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- ROVER -->
  <group if="$(arg rover)">
    <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
    <include file="$(find nxp_gazebo)/launch/cupcar.launch">
      <arg name="x" value="0.0"/>
      <arg name="y" value="0.0"/>
      <arg name="z" value=".3"/>
      <arg name="R" value="0"/>
      <arg name="P" value="0"/>
      <arg name="Y" value="0"/>
      <arg name="vehicle" value="$(arg vehicle)"/>
      <arg name="mavlink_udp_port" value="14560"/>
      <arg name="mavlink_tcp_port" value="4560"/>
    </include>
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="1"/>
      <arg name="tgt_component" value="1"/>
    </include>
    <group if="$(arg vision)">
      <node name="track_vision" output="$(arg output)" pkg="nxp_gazebo" type="track_vision.py" respawn="true" respawn_delay="5">
        <param name="~pyr_down" value="$(arg pyr_down)"/>
        <param name="~rwh" value="$(arg rwh)"/>
        <param name="~vision_debug" value="$(arg vision_debug)"/>
      </node>
    </group>
  </group>
</launch>
